@model IEnumerable<OnlineRentalSystem.Models.Rental.PropertyAmenity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyAmenityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyAmenityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyAmenityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
